In [3]:

import matplotlib 
import matplotlib.font_manager as fm
import matplotlib.pyplot as plt
import gdown

fm.get_fontconfig_fonts()
font_location = 'C:/Windows/Fonts/malgunsl.ttf' # For Windows
font_name = fm.FontProperties(fname=font_location).get_name()
matplotlib.rc('font', family=font_name)

plt.rcParams['figure.dpi']=100

C:\Users\user\AppData\Local\Temp\ipykernel_11608\31217215.py:6: MatplotlibDeprecationWarning: The get_fontconfig_fonts function was deprecated in Matplotlib 3.5 and will be removed two minor releases later.
  fm.get_fontconfig_fonts()

In [4]:
data=gdown.download('https://bit.ly/3pK7iuu','ns_book7.csv',quiet=False)

import pandas as pd
df=pd.read_csv(data,encoding='utf-8')

Downloading...
From: https://bit.ly/3pK7iuu
To: c:\Users\user\Documents\visualization\EDA_study\bookstudy\hongong_hanbit\ns_book7.csv
100%|██████████| 53.8M/53.8M [00:03<00:00, 17.3MB/s]
C:\Users\user\AppData\Local\Temp\ipykernel_11608\753169290.py:4: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(data,encoding='utf-8')

In [8]:
df.tail(2)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
376768,401679,뉴 웨이브,제임스 모나코 지음,한나래,1996,9788985367448,9788985367424,NaN,2,688.04,1,0,1970-01-01
376769,401681,독일 문학과 세계 문학,吳漢鎭 編著,벽호,1995,9788947700368,9788947700405,NaN,3,809.05,2,0,1970-01-01

In [13]:
df=df.loc[:,['출판사','발행년도','대출건수']]

In [14]:
df.head(2)

    출판사  발행년도  대출건수
0   민음사  2021     0
1  갈매나무  2021     0

In [30]:
# 사용할 데이터만 분리 : 출판사별 value_counts 활용 상위 까지
df['출판사'].value_counts()[:30].index

Index(['문학동네', '민음사', '김영사', '웅진씽크빅', '시공사', '창비', '문학과지성사', '위즈덤하우스', '학지사',
       '한울', '한국학술정보', '열린책들', '살림출판사', '한길사', '博英社', '커뮤니케이션북스', '지식을만드는지식',
       '자음과모음', '비룡소', '랜덤하우스코리아', '넥서스', '황금가지', '길벗', '시그마프레스', '현암사',
       '다산북스', '집문당', '책세상', '한국문화사', '북이십일 21세기북스'],
      dtype='object')

In [32]:
df_30=df[df['출판사'].isin(df['출판사'].value_counts()[:30].index)]
len(df_30)

51886

In [40]:
# 출판사별 대출권수 상위 10개만 df만들기
df_30['출판사'].value_counts()[:10]
df_top10=df[df['출판사'].isin(df_30['출판사'].value_counts()[:10].index)]
df_top10.head()
len(df_top10)

26861

In [42]:
#groupby

df_top10_gr=df_top10.groupby(by=['출판사','발행년도']).sum()
len(df_top10_gr)

328

In [ ]:
# 그래프로 확인해 보기

fig,ax=plt.subplots